/* estilização para a lista de tarefa */
ul{
    list-style: none;
    max-width: 4000px;
    margin: auto;
}
li{
    background-color: #ccc;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}